
body {
    background-color: rgb(125, 132, 130);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header header"
    "form form form"
    "main main main"
    ". footer .";
   
}
h2{
    color: white;
}

/* *{
        background-color: darkgray;
        margin: 0;
        padding: 0;
    }  */
.nav-container {   
    grid-area: header;
   
    }

.navBar{
    display: inline;
    height: 80px;
    width: 90%;
    max-width: 100%;
}

#navbar-logo{
    color: white;
    justify-content: start;
    margin-left: 20px;
    font-size: 50px;
    grid-area: header1;
}

.nav-menu li{
    display: inline;
    list-style: none;
    width: 70%;
    justify-content: none;
    grid-area: header2;
}
.nav-links{
    color: white;
}
.nav-links:hover{
    color: yellow;
    transition: all 0.2 ease-out;
}
.form-container{
    grid-area: form;
}
.form-container h3{
    color: white;
}
#search{
    background-color: white;
    border: 3px solid rgb(14, 161, 230);
    border-radius: 8px;
}
/* ------------------button----------------------- */
#btn{
    display: inline-block;
    position: relative;
    color: rgb(14, 161, 230);
    background: white;
    font-weight: 500;
    padding: 7px 14px;
    margin: 10px;
    border: 3px solid rgb(14, 161, 230);
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
}

#btn:before{
    content: "";
    position: absolute;
    background: rgb(14, 161, 230);
    height: 60px;
    width: 112px;
    border-radius: 0%;
    z-index: -1;
}
#btn:hover{
color: white;
}
#btn::before{
    top:100%;
    left:0%;
    transition: 0.4s;
}
#btn:hover:before{
    top: -20px;
    left: 0px;
    
}
/* #btn:active:before{
    background-color: purple;
    transition: 0.5s;
} */

.main{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "img . details";
       
}
.main.img {
    grid-area: img;
}

.main.details{
    grid-area: details;
    justify-content: end;
    
}
.details {
font-size:xx-large

}

.footer{
    grid-area: footer;
}





